body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: linear-gradient(-0.25turn, #f3c1f0, #dee1e6, #e1bea6);
    color: #333;
}

h1 {
    text-align: center;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
}
.container {
    display: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    max-width: 900px;
    background-color: rgb(217, 123, 123);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #6a3d58;
    color: white;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #ff00a6;
    margin-top: 20px;
    display: inline-block;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

select, button {
    padding: 8px;
    font-size: 1em;
    box-sizing: border-box;
    border-radius: 4px;
}

button {
    background-color: #a200ff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    table {
        width: 100%;
        font-size: 0.9em;
    }

    select, button {
        font-size: 0.9em;
    }
}